/* English and Russian fonts */

/* Lora Regular */
@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/en-ru/Lora-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Lora Medium */
@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/en-ru/Lora-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Lora SemiBold */
@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/en-ru/Lora-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Lora Bold */
@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/en-ru/Lora-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Lora Italic */
@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/en-ru/Lora-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Lora Medium Italic */
@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/en-ru/Lora-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Lora SemiBold Italic */
@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/en-ru/Lora-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Lora Bold Italic */
@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/en-ru/Lora-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Georgian fonts */

@font-face {
    font-family: "BPGNino";
    src: url("/assets/fonts/ge/bpg-nino-mtavruli.woff2") format("woff2"),
        url("/assets/fonts/ge/bpg-nino-mtavruli.woff") format("woff");
    font-weight: 100 200 300 400 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BPGNino";
    src: url("/assets/fonts/ge/bpg-nino-mtavruli-bold.woff2") format("woff2"),
        url("/assets/fonts/ge/bpg-nino-mtavruli-bold.woff") format("woff");
    font-weight: 600 700 900;
    font-style: normal;
    font-display: swap;
}

*/